name: Deploy for Publish

on: [push]

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:


      - uses: shallwefootball/s3-upload-action@master
        name: Upload S3
        id: S3
        with:
          aws_key_id: AKIAZXTAJ4PNLORC2MMX
          aws_secret_access_key: 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
          aws_bucket: burkhardts.ninja
          source_dir: *.*
